---
layout: default
---

<div class="wrapper">

{{ content }}

<ul class="cases">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">
        <div class="left">
          <h3>{{ post.title }}</h3>
          <hr>
          <img src="{{ post.logo }}" class="logo">
          <div class="clientinfo">
            <p class="client">{{ post.client }}</p>
            <p class="year">{{ post.year }}</p>
          </div>
        </div>

          <div class="right" style="background-color: {{ post.color }}">
        </div>
      </a>
    </li>
  {% endfor %}
</ul>

</div>
